.carousel {
  display: flex;
  line-height: 0%;
}
.carousel__heading {
  font-size: 40px;
  margin-left: 35%;
  color: #414042;
  font-weight: 300;
}
.slide_arrow--right {
  height: 148px;
  width: 120px;
  /* background-color: blue; */
  /* margin-left: 90%; */
  /* margin-top: -10.3%; */
  font-size: 80px;
  text-align: center;
}
.slide_arrow--left {
  height: 148px;
  width: 120px;
  font-size: 80px;
  vertical-align: bottom;
}
.carousel_container {
  height: 148px;
  width: 100%;
  display: flex;
  color: #414042;
  text-align: center;
}

.slick_dot--button {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  padding: 1px 2px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50%;
  border: 2px solid #999999;
}
.active {
  background-color: #0c4f98;
  color: white;
}
.slick_dot--button:hover {
  background-color: gray;
  color: white;
}
#slider {
  position: relative;

  animation-delay: 1s;
  height: 50px;
  width: 100px;
  color: center;
  filter: invert(0.5);
  /* left: 0; */
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  /* left: -100px; */
}
/* @-webkit-keyframes slider {
  100% {
    left: 190px;
  }
} */
@keyframes slider {
  100% {
    width: 190px;
  }
}
/* Ipad media queries */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .slide_arrow--right {
    height: 148px;
    width: 120px;
  }
  .carousel__heading--container {
    /* background-color: aqua; */
    text-align: center;
  }
  .carousel__heading {
    margin-left: -3%;
    /* text-align: center; */
    text-align: center;
    font-weight: 300;
    color: #414042;
    line-height: 95%;
    /* background-color: bisque; */
  }
}

/* iphone-x media queries  */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .carousel__heading--container {
    height: 180px;
    width: 660px;
    margin-top: 10%;
    text-align: center;
  }
  .carousel__heading {
    margin-left: 5%;
    height: 180px;
    width: 600px;
    font-size: 55px;
    font-weight: 300;
    color: #414042;
    line-height: 95%;
  }
  .carousel_container {
    height: 148px;
    width: 183%;
    /* background-color: yellow; */
  }
  .slide_arrow--right {
    height: 148px;
    width: 120px;
    /* background-color: blue; */
    /* margin-left: 83%; */
    /* margin-top: -21%; */
  }
}
