.carousel {
  display: flex;
  line-height: 0%;
}
.carousel__heading {
  font-size: 40px;
  margin-left: 35%;
  color: #414042;
  font-weight: 300;
}
.slide_arrow--right {
  height: 148px;
  width: 120px;
  z-index: 50;
  /* position: absolute; */
  /* background-color: blue; */
  /* margin-left: 90%; */
  /* margin-top: -10.3%; */
  font-size: 80px;
  text-align: right;
}
.slide_arrow--left {
  z-index: 50;
  /* position: absolute; */
  height: 148px;
  width: 120px;
  font-size: 80px;
  /* vertical-align: bottom; */
}
.carousel_container {
  overflow-x: hidden;
  height: 148px;
  width: 100%;
  display: flex;
  color: #414042;
  text-align: center;
}

.slick_dot--button {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  padding: 1px 2px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50%;
  border: 2px solid #999999;
}
.active {
  background-color: #0c4f98;
  color: white;
}
.slick_dot--button:hover {
  background-color: gray;
  color: white;
}
#slider {
  position: relative;
  animation-delay: 1s;
  margin-left: 15%;
  height: 50px;
  width: 100px;
  color: center;
  filter: invert(0.5);
}
.carousel_item {
  /* height: 70px; */
  width: 200px;
  color: #999999;
  color: center;
  overflow: hidden;
}
/* #slick-0-active {
  display: inline-block;
}
#slick-1-active {
  display: inline-block;
}
#slick-2-active {
  display: inline-block;
}
#slick-3-active {
  display: inline-block;
}
#slick-4-active {
  display: inline-block;
}
#slick-5-active {
  display: inline-block;
}
#slick-6-active {
  display: inline-block;
}
#slick-7-active {
  display: inline-block;
}
#slick-8-active {
  display: inline-block;
}

#slick-0 {
  display: none;
}
#slick-1 {
  display: none;
}
#slick-2 {
  display: none;
}
#slick-3 {
  display: none;
}
#slick-4 {
  display: none;
}
#slick-5 {
  display: none;
}
#slick-6 {
  display: none;
}
#slick-7 {
  display: none;
}
#slick-8 {
  display: none;
} */

/* Ipad media queries */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .slide_arrow--right {
    height: 148px;
    width: 120px;
  }
  .carousel__heading--container {
    /* background-color: aqua; */
    text-align: center;
  }
  .carousel__heading {
    margin-left: -3%;
    /* text-align: center; */
    text-align: center;
    font-weight: 300;
    color: #414042;
    line-height: 95%;
    /* background-color: bisque; */
  }
}

/* iphone-x media queries  */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .carousel__heading--container {
    height: 180px;
    width: 660px;
    margin-top: 10%;
    text-align: center;
  }
  .carousel__heading {
    margin-left: 5%;
    height: 180px;
    width: 600px;
    font-size: 55px;
    font-weight: 300;
    color: #414042;
    line-height: 95%;
  }
  .carousel_container {
    height: 148px;
    width: 183%;
    /* background-color: yellow; */
  }
  .slide_arrow--right {
    height: 148px;
    width: 120px;
    margin-left: 149%;
    /* background-color: blue; */
    /* margin-left: 83%; */
    /* margin-top: -21%; */
  }

  .carousel_item {
    height: 70px;
    width: 200px;
    color: #999999;
    color: center;
    overflow: hidden;
  }
}
