.header {
  background: rgb(8, 70, 168, 0.9);
  color: white;
}

.logo {
  max-width: 20%;
}

.track-link {
  font-size: 18px;
  position: relative;
  color: #fff;
}
.track-link:hover {
  color: #fff;
  text-decoration: none;
}
.backgroung-img {
  background-image: url("../header-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  height: 384px;
}
.sign-in-btn-container {
  position: relative;
  line-height: 70.4px;
}
.sign-in-btn {
  float: right;
}
