.mosaic-a_grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
  margin: auto auto;
}

.mosaic-a_grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  /* padding: 20px 0; */
  /* font-size: 30px; */
}
.mosaic_img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 1200px) {
  .mosaic-a_grid-container {
    width: 99%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /* background-color: #2196f3; */
    padding: 10px;
    margin: auto auto;
  }
}
@media only screen and (max-width: 760px) {
  .mosaic-a_grid-container {
    width: 99%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    /* background-color: #2196f3; */
    padding: 10px;
    margin: auto auto;
  }
}
