.box {
  width: 100px;
  height: 100px;
  background-color: red;
  -webkit-transition: width 12s, height 6s;
  transition: width 12s, height 6s;
}

.box:hover {
  width: 300px;
  height: 300px;
}

.transform__box {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.transform__box:hover {
  width: 300px;
  height: 300px;
  background-color: black;
  transform: rotate(180deg);
}
