.carousel-grid {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-gap: 10px;
  // background-color: black;
  padding: 10px;
}

.carousel-grid > div {
  // background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  color: #414042;
  /* font-size: 30px; */
}
.carousel-grid-1 {
  grid-column: 1/4;
}
.carousel-grid-5 {
  grid-column: 1/4;
}
.carousel-grid-2,
.carousel-grid-4 {
  font-size: 80px;
  color: #414042;
}
.carousel-grid-1 p {
  font-weight: 300;
  font-size: 2.4em;
  color: #414042;
}

.carousel-grid-3 {
  position: relative;
  overflow: hidden;
}
.carousel-grid-3 #slide-container {
  position: absolute;
  display: flex;
  width: 100%;
}
.carousel_item {
  /* height: 70px; */
  width: 200px;
  color: #999999;
  text-align: center;
}
#slider {
  height: 50px;
  width: 100px;
  filter: invert(0.5);
  margin-left: -40px;
}
#carousel {
  position: absolute;
  height: 200px;
  width: 810px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
  margin-top: 85px;
  z-index: 1000;
}

.arrow-right {
  left: 780px;
}

.item {
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
    background-color 1s;
}

// $level2-height: 150px;
$level3-width: 150px;
$level2-width: 150px;
// $level1-height: 180px;
$level1-width: 150px;
// $level0-height: 200px;
$level0-width: 150px;

$level-3-left: 1020px;
$level-2-left: 780px;
$level-1-left: 590px;
$level0-left: 410px;
$level1-left: 230px;
$level2-left: 50px;
$level3-left: -150px;

.level-3 {
  width: $level3-width;

  left: $level-3-left;
}
.level-2 {
  width: $level2-width;

  left: $level-2-left;
}

.level-1 {
  width: $level1-width;

  left: $level-1-left;
  // margin-right: 100px;
}

.level0 {
  width: $level0-width;

  left: $level0-left;
}

.level1 {
  width: $level1-width;

  left: $level1-left;
}

.level2 {
  width: $level2-width;

  left: $level2-left;
}
.level3 {
  width: $level3-width;

  left: $level3-left;
}

.left-enter {
  opacity: 0;
  left: $level2-left - $level2-width;

  width: $level2-width - 20;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: $level2-left;

  width: $level2-width;

  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.left-leave {
  opacity: 1;
  left: $level-2-left;

  width: $level2-width;
}

.left-leave.left-leave-active {
  left: $level-2-left + $level2-width + 20;
  opacity: 0;

  line-height: 120px;

  width: $level2-width - 20;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.right-enter {
  opacity: 0;
  left: $level-2-left + $level2-width;

  width: $level2-width - 20;
}

.right-enter.right-enter-active {
  left: $level-2-left;
  opacity: 1;

  width: $level2-width;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.right-leave {
  left: $level2-left;

  opacity: 1;

  width: $level2-width;
}

.right-leave.right-leave-active {
  left: $level2-left - $level2-width;
  opacity: 0;

  width: $level2-width - 20;

  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slick_dots--container {
  display: flex;
  justify-content: center;
}
.slick_dot--button {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  padding: 1px 2px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 100%;
  border: 1px solid #999999;
}
.active {
  background-color: #0c4f98;
  color: white;
}
.slick_dot--button:hover {
  // background-color: gray;
  color: white;
}
